:root {
  --color-pop: rgb(238, 99, 57);
  /* --color-pop: rgb(39, 202, 189); */
  /* --color-pop: rgb(245, 74, 74); */
  
  --main-bg-color: rgb(7, 7, 7);
  
  --element-bg-color: rgb(221, 215, 214);
  /* --color-pop: rgb(228, 245, 74); */
  --color-pop-faded: rgb(243, 179, 159);
}

header {
  display: flex;
  background-color: var(--element-bg-color);
  color: var(--color-pop-faded);
  width: 100%;
  padding: 10px;
}

header > * {
  margin: 1vw;
  font-size: 2rem;
}

.unclickedLink {
  color: var(--color-pop-faded);
  text-decoration: none;
  cursor: pointer;
}

.activeLink {
  font-weight: bold;
  color: var(--color-pop);
}

.todos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3vh;
  list-style: none;
}

.todo {
  color: var(--color-pop);
  background-color: var(--element-bg-color);
  width: 10vw;
  text-align: center;
  padding: .5rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  justify-self: center;
  cursor: pointer;
}

.completedTodo {
  color: var(--color-pop-faded);
  background-color: rgb(114, 112, 112);
}

.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.home-link {
  font-size: 10rem;
  margin: 3rem;
  color: var(--color-pop);
  background-color: var(--element-bg-color);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.form-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--element-bg-color);
  height: 20vh;
  width: 20vw;
  padding: 5rem;
}

.form-class > * {
  font-size: 1.5rem;
}

.form-class > label {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-pop);
  font-weight: bold;
  
}

label > input {
  margin-left: 1vw;
  font-size: 1.5rem;
  margin-top: 10px;
  border: none;
}

.button-container > button {
  background-color: var(--color-pop);
  color: var(--element-bg-color);
  font-size: 1.5vh;
  width: 8vw;
  height: 3vh;
  border: none;
  border-radius: .3vw;
  margin-top: 1vw;
  font-weight: bold;
  cursor: pointer;
}

.create-label {
  color: var(--color-pop);
  font-size: 3rem;
}

.form-container, .button-container {
  display: flex;
  justify-content: center;
}

.form-container > form {
  margin-top: 5vh;
}

.todo-page {
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

input {
  border: none;
}